i.fa {
  vertical-align: baseline;
  margin-right: 10px;
}

body {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  background-color: #fff;
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 12.5%;
    min-height: 400px;
}

.menu,
.el-menu {
  z-index: 10;
  height: 100% !important;
  background-color: #F2F2F2;
  position: fixed !important;
  float: left !important;
}

.container {
  height: 100%;
}

.container .main {
  padding: 0;
}

.container ul li.el-menu-item {
  font-size: 100%;
}

.container .mar-l {
  padding: 0;
}

.container .content-wrapper {
  padding: 20px;
  margin-top: 50px;
}
