#container {
  width: 100%;
  margin: 0 auto;
  z-index: 9;
  background-color: #fff;
  height: 20px;
}
#nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 2;
  background-color: #fff;
}
.title {
  text-align: center;
  flex-direction: column;
  display: flex;
}
.arrow {
  color: #dddddd;
  font-size: 30px;
  line-height: 40px;
  margin-left: 2%;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
